<h1>Hello  <%= @user.name %> Edit your page here</h1>
<br>
<h1><%= @user.email %></h1>
<h1><%= @user.name %></h1>
<br>
<div class="form">
<%= form_for @user, html: {method: :put} do |f| %>   
<%=f.label :name %>   
<%=f.text_field :name %> 
<%=f.label :email %>   
<%=f.text_field :email %>   
<%=f.submit :submit %> 
<% end %>
</div>

<%= link_to 'Delete your account', @user,  :method => :delete, :confirm => "Are you sure?" %>